@import "tailwindcss";
/* Neon Glow Effect for Title */
.neon-text {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #00ffff99;
}

/* High Visibility Neon Button */
.neon-button {
  background: linear-gradient(90deg, #6a62ff, #544982);
  border: none;
  box-shadow: 0 0 10px #5a595980, 0 0 20px #0f000080;
  transition: all 0.3s ease-in-out;
}

.neon-button:hover {
  background: #2e56b2;
  color: #fff;
}

.neon-button:disabled {
  background: gray;
  box-shadow: none;
}

.ant-btn-variant-solid:disabled {
  background: rgb(255 255 255 / 20%) !important;
}
.dark-select .ant-select-selector {
  background-color: #1a1a1a !important;
  color: white !important;
  border: 1px solid #4a4a4a !important;
}

.dark-select .ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.dark-select .ant-select-dropdown {
  background-color: #1a1a1a !important;
  border: 1px solid #4a4a4a !important;
}

.dark-select .ant-select-item {
  color: white !important;
}

.dark-select .ant-select-selector {
  background-color: #1a1a1a !important;
  color: white !important;
  border: 1px solid #4a4a4a !important;
  height: 44px !important;
  display: flex;
  align-items: center;
}

@media (min-width: 640px) {
  .ant-list-item {
    gap: 8px !important; /* Reduce space between selects */
  }
  .city-seclection-container {
  }
}

@media (max-width: 639px) {
  .ant-list-item {
    align-item: center;
  }
  .city-seclection-container {
    display: grid;
    gap: 8px;
  }

  .list-container {
    display: flex;
    width: 100%;
  }
}

.dark-select .ant-select-selector {
  background-color: #1a1a1a !important;
  color: white !important;
  border: 1px solid #4a4a4a !important;
  height: 44px !important;
  display: flex;
  align-items: center;
}

.ant-btn-background-ghost {
  border-color: #616161 !important;
}
.back-btn {
  background: #d6e4ff;
  border: none;
}

.ant-select-dropdown {
  background-color: #1a1a1a !important;
}

.ant-select-item-option {
  background-color: #1a1a1a !important;
  color: white !important;
}

.ant-select-item-option-selected {
  background-color: #3d3d3d !important;
}
.child-container {
}
